# Python datatable Intro

Checkout the [documentation](https://datatable.readthedocs.io/en/latest/index.html) for additional details. [This kaggle kernel](https://www.kaggle.com/sudalairajkumar/getting-started-with-python-datatable) also provides a nice walk-through.

In [3]:
import numpy as np
import pandas as pd
import datatable as dt

# Create a dataframe

In [72]:
dt.Frame({"n": [1, 3], "s": ["foo", "bar"]})

# Loading Data

Just as with R, `fread` can be used to read in the data file.

In [40]:
link_loan_07 = "https://raw.githubusercontent.com/dosei1/Lending-Club-Loan-Data/master/loans_2007.csv"

df = dt.fread(link_loan_07)

In [41]:
type(df)

datatable.Frame

The `datatable` package allows you to convert the data frame to a Pandas dataframe or even NumPy using the `to_pandas` and `to_numpy` methods, respectively.

In [42]:
numpy_df = df.to_numpy()
pandas_df = df.to_pandas()

print( type(numpy_df) )
print( type(pandas_df) )

<class 'numpy.ma.core.MaskedArray'>
<class 'pandas.core.frame.DataFrame'>

# Basic Properties

- Shape
- Column names
- Data types

In [43]:
print(df.shape)       # (nrows, ncols)
print(df.names[:5])   # top 5 column names
print(df.stypes[:5])  # column types(top 5)

(39252, 41)
('loan_amnt', 'int_rate', 'installment', 'emp_length', 'annual_inc')
(stype.float64, stype.float64, stype.float64, stype.int32, stype.float64)

In [55]:
dt.Frame(col_names = df.names, types = df.stypes)

In [44]:
df.head(10)

# Summary Statistics

```
df.sum()
df.max()
df.min()
df.mean()
df.sd()
df.mode()
df.nmodal()
df.nunique()
```

In [45]:
df.mean()

# Data Manipulation

## Select columns

In [46]:
# Select first 10 rows of the annual income column, `annual_inc`
df[:, 'annual_inc'].head()

In [56]:
# Select first 10 rows of annual income and loan status columns
df[:, "annual_inc", "loan_status"].head()

In [57]:
# Select all columns from loan_amnt to loan_status
df[:, 'loan_amnt':'loan_status']

# Alternative
# df[:, dt.f['loan_amnt':'loan_status']]

In [79]:
# Select the last column
df[:, dt.f[-1]]

In [80]:
# Select all integer columns
df[:, dt.f[int]]

# Select all float columns
df[:, dt.f[float]]

# Filtering Rows

In Python-flavored datatable, there is the concept of the **frame proxy** (`f`) which provides a simple way to refer to the `Frame` that we are currently operating upon.

In [63]:
# Filter rows where interest rate > 10% *AND* FICO < 650
df[ (dt.f.int_rate > 10) & (dt.f.fico_range_high < 650), :]

In [47]:
# Filter rows where loan status is `1`
df[dt.f.loan_status == 1, :]

# Sorting

In [48]:
# Sort the table by FICO score
df.sort('fico_range_high')

## Compute columnar expressions

In [71]:
df[:, {"new_int_rate": dt.f.int_rate - 5, "loan_over_inc": dt.f.loan_amnt / dt.f.annual_inc}]

## Delete rows/columns

```python
del df[:, "D"]     # delete column D
del df[dt.f.A < 0, :] # delete rows where column A has negative values
```

In [49]:
# Delete the zip_code column

del df[:, 'zip_code']

df.head() # notice that 'zip_code' is gone!

## GroupBy calculations

In [53]:
# Group by example - average income by # of inquiries in last 6 mos.
df[:, dt.mean(dt.f.annual_inc), dt.by(dt.f.inq_last_6mths)]

## Append rows/columns

```
df1.cbind(df2, df3)
df1.rbind(df4, force=True)
```